html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #006bb7;
  text-decoration: none;
}

.page {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #1b1b1b;
  width: 250px;
  flex-shrink: 0;
}

main {
  flex: 1;
  padding: 1.1rem 1.5rem;
}
